
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('Images/PDA.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
}

header {
    position: fixed;
    top: 0%;
    width: 100%;
    background-color:black;; 
    color: #fff;
    padding: 1em;
    text-align: center;
    color: black;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.hero {
    background-color: transparent;
    border-radius: 0%;
    border-color: blue;
    padding: 2em;
    padding-top: 10%;
    text-align: left;
    color: whitesmoke; 
}

.hero h1 {
    font-size: 20px;
}

.quick-links {
    background-color: transparent;
    padding: 2em;
}

.quick-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.quick-links li {
    margin-bottom: 10px;
}

.quick-links a {
    text-decoration: none;
    color: #337ab7;
}

.featured-resources {
    background-color: transparent;
    padding: 2em;
}

.featured-resources ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.featured-resources li {
    margin-bottom: 20px;
}

.featured-resources h3 {
    font-size: 18px;
}

footer {
    background-color: rgba(50, 2, 108, 0.8);;
    color: #fff;
    padding: 1em;
    text-align: center;
    clear: both;
}
